// Here you can add other styles
.nav {
  font-weight: bold;
}

//large logo cover in homescreen
.cover-bg {
  position: fixed;
  height: 100%;
  opacity: 0.27;
  right: 0;
}

//colors for cars in dashboard
:root {
  --theme-dark: #244058;
  --theme-light: #0a68b6;
  --theme-norm: #0b406c;
  --theme-bland: #4f5f7e;
}

.card-1-bg {
  background-color: var(--theme-dark);
}

.card-2-bg {
  background-color: var(--theme-light);
}

.card-3-bg {
  background-color: var(--theme-norm);
}

.card-4-bg {
  background-color: var(--theme-bland);
}
//Fix dropdown elements not looking good sometimes
.sidebar {

  .nav-link.active, .nav-dropdown .nav-link:hover {
    color: #fff !important;
  }
}




//centers things across the project, like the WUAT logo and loading anims
.center {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

//Loading animation https://loading.io/css/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #0b406c;
  border-color: #0b406c transparent #0b406c transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
