//variables, common colors and stuff throughout the program.
//global border color
$border-color: #0b406c;
$body-color: #23282c; //kinda sketchy
//dropdown for account options

$dropdown-header-color: #4f5f7e;
$dropdown-link-active-bg: #0a68b6;


//top bar
$navbar-bg: #fff;
$navbar-border: (
  bottom: (
    size: 5px,
    style: solid,
    color: $border-color
  )
);
//main sidebar
$sidebar-color: #fff;
$sidebar-bg: #0b406c;
$sidebar-header-bg: rgba(0, 0, 0, .2);
//idk what form this is
$sidebar-form-bg: darken($sidebar-bg, 10%);
$sidebar-form-color: #fff;

$sidebar-nav-color: #fff;
//THEME, COMPONENETS, EXTRAS
$sidebar-nav-title-color: #fff;
//sidebar items
$sidebar-nav-link-color: #b7b7b7;
$sidebar-nav-link-bg: transparent;
$sidebar-nav-link-icon-color: #b7b7b7; //gray
//side bar items on select
$sidebar-nav-link-active-color: #fff;
$sidebar-nav-link-active-bg: #5b8ab6;
$sidebar-nav-link-active-icon-color: #fff; //cyan
//side bar items on hover
$sidebar-nav-link-hover-color: #fff;
$sidebar-nav-link-hover-bg: darken($sidebar-nav-link-active-bg, 5%); //cyan
$sidebar-nav-link-hover-icon-color: #fff;
//sidebar disabled UP to
$sidebar-nav-link-disabled-color: darken($sidebar-nav-link-color, 30%);
$sidebar-nav-link-disabled-bg: #fff;
$sidebar-nav-link-disabled-icon-color: $sidebar-nav-link-icon-color;
//sidebar sub items
$sidebar-nav-dropdown-color: $sidebar-nav-link-color;
$sidebar-nav-dropdown-bg: rgba(0, 0, 0, .2);
$sidebar-nav-dropdown-borders: 0;
$sidebar-nav-dropdown-indicator-color: #fff; //gray
$sidebar-nav-dropdown-indicator-hover-color:$sidebar-nav-link-hover-color;
//sidebar footer idk what it does
$sidebar-footer-bg: rgba(0, 0, 0, .2);
//minimizer, thing at bottom of sidebar
$sidebar-minimizer-bg: rgba(0, 0, 0, .2);
$sidebar-minimizer-indicator-color: #fff; //gray
$sidebar-minimizer-hover-bg: rgba(0, 0, 0, .3);
$sidebar-minimizer-hover-indicator-color: $sidebar-nav-link-hover-color;
//directory thing bottom border e.g Home/Dashboard
$breadcrumb-borders: (
  bottom: (
    size:                             1px,
    style:                            solid,
    color: $border-color //border color
  )
);
//aside is the right side menu, accessed by the 3 bars.
$aside-menu-color: #5b8ab6;
$aside-menu-bg: #fff;
$aside-menu-borders: (
  left: (
    size:                             1px,
    style:                            solid,
    color: $border-color //border color
  )
);

//footer
$footer-bg: #fff; //gray
$footer-color: $body-color;
$footer-borders: (
  top: (
    size:                             1px,
    style:                            solid,
    color:                            $border-color
  )
);
//cards idk use
$card-icon-bg: #fff;
$card-icon-color: $body-color;


