<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net461" />
  <package id="InTheHand.Devices.Bluetooth" version="4.0.1803.22-preview" targetFramework="net461" />
  <package id="InTheHand.Pontoon" version="10.2018.3.19" targetFramework="net461" />
  <package id="WindowsDisplayAPI" version="1.2.0.2" targetFramework="net461" />
</packages>